* {
  padding: 0;
  margin: 0;
}

#root {
  overflow: hidden;
}

.video_container {
  display: block;
}

.header__container {
  background-color: #000;
  flex: 0.1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5vh;
}

.body__container {
  background-color: #fff;
  flex: 0.8;
  height: 76vh;
  padding: 10px;
}

.logo {
  margin-left: 10px;
}

.logo > img {
  display: block;
  margin: 0px auto;
  cursor: pointer;
}

.navbar {
  color: #fff;
  width: 30px;
  margin-right: 3;
}

.navbar > .setting__icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.navbar > .setting__icon > img {
  width: 29px;
  cursor: pointer;
}

.body__video__box {
  background-color: #fff;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.left__box {
  display: flex;
  position: relative;

  flex: 0.7;
  margin-right: 20px;
}

.right__box {
  flex: 0.3;
  border: 1px solid #000;
}

.display__box {
  display: -webkit-inline-box;
  flex-wrap: wrap;
  overflow: auto;
}

.video__box {
  width: 250px;
  height: 25vh;
  border: 2px solid #000;
  box-shadow: 3px 3px 3px 3px gray;
  padding: 10px;
  margin: 10px;
}

.footer__container {
  background-color: #000;
  flex: 0.1;
  height: 14vh;
}

.footer__navigator {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  right: 0;
  left: 0;
  bottom: 55px;
  margin: 0 auto;
  border-radius: 30px;
}

.navigator__icons {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 6px;
}

.icons {
  margin-right: 30px;
  margin-left: 30px;
}

.navigator__icons > .icons > img {
  display: block;
  margin: 0px auto;
  width: 35px;
  cursor: pointer;
}

.navigator__icons > .icons > p {
  font-size: 12px;
  text-align: center;
}

.chat__box {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.chat__body {
  flex: 0.9;
  background-color: grey;
  background-repeat: repeat;
  background-position: center;
  overflow-y: scroll;
  padding: 10px;
}

.chat__body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.chat__body::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}

.chat__message {
  position: relative;
  margin-left: 10px;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  background-color: #fff;
  margin-bottom: 30px;
  margin-top: 0.5vh;
}
.chat__receiver {
  position: relative;
  margin-left: auto;
  margin-right: 10px;
  font-size: 16px;
  padding: 10px;
  border-radius: 10px;
  width: fit-content;
  background-color: #44a6fa;
  margin-bottom: 30px;
  margin-top: 0.5vh;
}

.chat__name {
  position: absolute;
  top: -15px;
  font-weight: 800;
  font-size: xx-small;
}

.chat__timestamp {
  margin-left: 10px;
  font-size: xx-small;
}

.chat__input {
  flex: 0.1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.chat__input > input {
  width: 60%;
  height: 30px;
  text-align: center;
  border-radius: 25px;
  outline: none;
}

.chat__input > input:focus {
  width: 60%;
  height: 30px;
  text-align: center;
  border-radius: 25px;
  outline: none;
}

.chat__input > img {
  width: 30px;
  margin: 10px;
  cursor: pointer;
}
.view__container {
  width: 30vw;
  height: 30vh;
  margin-right: 5px;
  position: relative;
}

.stream__container {
  width: 30vw;
  height: 30vh;
  position: absolute;
}

.view__container .stream-uid {
  padding: 2px 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  position: relative;
  border-radius: 28px;
  max-width: 100px;
  max-height: 20px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 10px;
  font-size: 12px;
  font-family: HelveticaNeue;
  color: rgba(255, 255, 255, 1);
  line-height: 14px;
}

.uploaded {
  margin-top: 10%;
}

.download__button {
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  width: 60%;
  margin-top: 5%;
}

.download__button:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.download__button:active {
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
