.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: #658ba7;
}

.header__logo {
  height: 25px;
  object-fit: contain;
  margin-left: 20px;
}

.header__input {
  display: flex;
  align-items: center;
  width: 40%;
}

.header__inputButton {
  width: 50px !important;
  color: #fff;
  cursor: pointer;
}

.header__icon {
  margin-right: 8px;
  cursor: pointer;
}

.header__icon :hover {
  color: #fff;
}

.header__icons {
  display: flex;
  align-items: center;
}

.header__input > input {
  flex: 1;
  border: none;
  outline: none;
  border-radius: 22px;
  padding: 7px;
  margin-right: 5px;
}
